@font-face {
  font-family: 'DW3';
  src: url('./assets/DW3HH.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
  font-family: 'DW3', sans-serif;
  font-weight: 600;
  margin: 1em 0 0.5em 0;
  border: none;
}

body {
  /* font-family: 'Segoe UI', Roboto, Oxygen, BlinkMacSystemFont, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: Roboto, sans-serif;
  font-size: 18px;
  background-color: #001;
  color: #ffe;
  padding: 1rem 4rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
  position: relative;
}

h3::before {
  content: "• ";
  position: absolute;
  left: -1em;
  color: #0004;
}

a {
  color: #eefe;
  text-decoration: underline;
  text-decoration-color: #eef7;
}

blockquote {
  font-size: 16px;
  border-left: 3px solid #0004;
  padding: 0.75rem;
  background-color: rgba(0,0,0,0.025);
  border-radius: 0.25rem;
  margin: 1rem 0 0 0;
}

blockquote p {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

blockquote p:last-child {
  margin-bottom: 0;
}

table > thead > tr > th {
  border-bottom: 0;
}

li > p {
  margin: 0.5rem 0;
}